:root  {
    --corVerdeEstado: #44833d;
    --corCinza: #ccc;
    --corLaranja: #ffa73e;
    --corAzul: #0000ff; 
    --corBranco: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    margin: 40px;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: var(--corVerdeEstado);
    border-bottom: 2px solid #ccc;
}

h2 {
    margin: 30px 0;
    padding-bottom: 10px;
    color: #8d8a8a;
    border-bottom: 2px solid #ccc;
}

p {
    font-size: 1.2em;
}


.caixaLaranja {
    margin: 1.5em 0;
    padding: 25px;
    border: 1px solid var(--corLaranja);
    border-radius: 2px 25px;
    box-shadow: inset 0 0.5em 0.4em var(--corLaranja) ;
}

.redesSociais {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redesSociais .caixaLink{
    background-color: var(--corVerdeEstado);
    color: var(--corBranco);
    padding: 7px;
    border-radius: 10px;
}

/* listas sem icone padrão */
.list-none {
    list-style: none;
}

/* botão com transition */
.button1 {
    padding: 10px;
    border: 1px solid var(--corVerdeEstado);
    border-radius: 10px ;
    color: var(--corVerdeEstado);
    background-color: white;
    transition: background-color, color 0.5s;
    
}

.maisAnimation {
    transition: transform 0.3s ease;
}

.maisAnimation:hover {
    transform: rotate(180deg);
}

.button1:hover, .button1:focus {
    color: white;
    background-color: var(--corVerdeEstado);
}

/* Cores */

.corBranco {
    color: var(--corBranco);
}

.corVerdeEstado {
    color: var(--corVerdeEstado);
}

/* animação */
@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scroll-on-hover {
    white-space: nowrap; /* Evita que o conteúdo quebre em várias linhas */
    padding: 10px;
  }
  
  .scroll-on-hover:hover {
    animation: scrollHorizontally 1s running 1;
  }
  
  @keyframes scrollHorizontally {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(10%);
    }
  }

